body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.blue{
    color: rgb(134, 76, 108);

}
.flexible-container{
    display: flex;
    margin-bottom:150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
}
.link-button{
   text-decoration: none; 
   background-image: linear-gradient(orange,tomato);
   padding: 10px 20px;
   color:white;
   font-weight: 700;
   border-radius: 5px;
   
}
.top-banner{
    background-image:url(Untitled-1.jpg);
    background-repeat: no-repeat;
}
.Dream-big{
    background-image:url(lower-banner.png);
    background-repeat: no-repeat;
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;

    box-shadow: 10px 10px 40px gray;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(pink,rgb(70, 2, 70));
   border-image-slice:1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(58, 7, 16),rgb(83, 48, 83));
   border-image-slice:1;
}
footer p{
    text-align: center;
}

